.modal_event{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1371af4d;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.modal_event_container{
    background-color: white;
    padding: 20px;
    border-radius: 14px;
    width: 80%;
    max-width: 600px;
    height: 400px;
    max-height: 800px;
}

.modal_event_container h2{
    margin: 0 0 10px 0;
}

.modal_event_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal_event_close{
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    color: #333;
}
.modal_event_close:hover{
    color: #ff0000;
}

.modal_event_body{
    display: flex;
    flex-direction: column;
}
.modal_event_body p{
    margin-bottom: 5px;
    font-weight: bold;
}