.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App_Calendario{
  flex-direction: column;
  align-items: 'center';
  justify-content: 'center';
  width: '100%';
  height: '100%';
  height: '100vh';
}